<h1>O-Cart</h1>

<ng-container *ngIf='cart$| async as cart '>
  <p>
    You have {{cart.totalItemsCount}} in your shopping cart.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of cart.items'>
        <td>{{ item.product.title }}</td>
        <td>
            {{ item.quantity }}
          <!-- <button 
            *ngIf='cart.getQuantity(product) === 0;else updateQuantity' \
            (click)='addToCart()' 
            class="btn btn-outline-success btn-sm btn-block">Add to Cart
          </button>
          <ng-template #updateQuantity>
            <product-quantity [product]='item.product' [shopping-cart]='cart'></product-quantity>
          </ng-template> -->
        </td>
        <td>{{ item.totalPrice | currency }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th>Total Price : </th>
        <th>{{ cart.totalPrice | currency }}</th>
      </tr>
    </tfoot>
  </table>
</ng-container>