.alert {
    padding: 0.3rem 1.25rem!important;
}
.alert-danger {
    color: #ffffff!important;
    background-color: #F44336!important;
    border-color: #f5c6cb!important;
    font-size: .75rem;
    font-style: italic;
}